:root{
    --backgroundColor1: #9EA681;
    --backgroundColor2: #6E754B;
    --btnBgColor1: #1B1C1E;
    --btnBgColor2: #2C3C1F;
    --text1: #171B0A;
    --text2: #FFF;
    --fontSizeBG: 24px;
    --fontSizeMD: 18px;
    --fontSizeSM: 14px;
    --btnWidth: 220px;
    --btnHeight: 50px;
    --btnTxtColor1: #fff;
    --btnTxtColor2: #171B0A;
    --transition: ease-in-out;
    --btnBorderRadius: 13px;
    --btnBorder: 2px solid #fff;
  }


.active{
    color: var(--text1);
}
#navbar{
    width: 95%;
    height: 70px;
    padding: 0 30px;
    background-color:var(--backgroundColor2);
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
    border-radius: 13px;
    position:fixed;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
}
#navbar .FaBlog{
    color: var(--btnBgColor1);
    font-size: 1.7rem;
    padding-right: 0.4rem;
    
}
#navbar .nav-menu{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}
.nav-categories-wrapper{
    width: 130px;
    height: 200px;
    position: absolute;
    top: 30px;
    left: -21px;
    padding: 0;
    background-color: var(--backgroundColor2);
    border-radius: var(--btnBorderRadius);
    transition: 1.4s;
    display: none;

}
.showCategories{
    display: block;
}
.nav-categories-wrapper ul{
    width: 100%;
    padding-top: 15px;
}
.nav-categories-wrapper ul li{
    margin-bottom: 15px;
}
#navbar .nav-menu li{
    list-style: none;
    margin-left: 25px;
    position: relative;
}
#navbar .nav-menu li i{
   padding: 0 5px;
}
#navbar .nav-menu .menu-exit-wrapper{
    margin-left: 30px;
    display: none;
}
#navbar .nav-menu .menu-exit-wrapper .FaTimes{
    margin: 10px;
   font-size: 2rem;
}
#navbar .hamburger{
    display: none;
}
#navbar .hamburger .FaHamburger{
    font-size: 1.7rem;
}

#navbar a{
    text-decoration: none;
    cursor: pointer;
    transition: var(--transition);
}

#navbar a:hover{
    color: var(--text1);
}






@media (max-width:799px){
    #navbar .nav-menu li{
        list-style: none;
        margin-left: 25px;
        font-size: 22px;
    }
    #navbar .nav-menu li a{
        /* color: var(); */
        font-size: 1.5rem;
    }
    .nav-menu{
        background-color: var(--backgroundColor2);
        position:fixed;
        top: 0;
        left:0;
        width:100%;
        height: 400px;
        transform: translateY(-120%);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.6rem;
        padding: 35px 0 0;
    }
    #navbar .nav-menu .menu-exit-wrapper{
        display: block;
    }
    #navbar .hamburger{
        display: block;
    }
    .showNavMenu{
        transform: translateY(0);
        transition-duration: 0.4s;
    }
}
@media (max-width:599px){

    #navbar .hamburger{
        display: block;
    }
   
    #navbar .nav-menu li{
        list-style: none;
        margin-left: 25px;
        font-size: 20px;
    }
    .nav-categories-wrapper{
        width: 200px;
        height: 260px;
        position: absolute;
        top: 40px;
        left: -50px;
        padding: 0;
        background-color: var(--backgroundColor1);
        transition: 1.4s;
        display: none;
        z-index: 90;
    
    }
    .showCategories{
        display: block;
    }
   
    /* #navbar .nav-menu li a{
        color: var(--bgColor2);
    } */
    #navbar .nav-menu .menu-exit-wrapper{
        display: block;
    }

    .nav-menu{
        background-color: var(--backgroundColor2);
        position:fixed;
        top: 0;
        left:0;
        width:100%;
        height: 400px;
        transform: translateY(-120%);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.2rem;
        padding: 35px 0 0;
    }
    .showNavMenu{
        transform: translateY(0);
        transition-duration: 0.4s;
    }
}