:root{
    --backgroundColor1: #FF176B;
    --backgroundColor2: #FFF;
    --btnBgColor1: #1B1C1E;
    --btnBgColor2: #2C3C1F;
    --text1: #171B0A;
    --text2: #FFF;
    --fontSizeBG: 24px;
    --fontSizeMD: 18px;
    --fontSizeSM: 14px;
    --btnWidth: 220px;
    --btnHeight: 50px;
    --btnTxtColor1: #fff;
    --btnTxtColor2: #171B0A;
    --transition: ease-in-out;
    --btnBorderRadius: 13px;
    --btnBorder: 2px solid #fff;
  }

 
  form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  form input{
    width: 100%;
    height: 55px;
    text-align: center;
    font-size: 22px;
    margin: 9px;
    border: var(--btnBorder);
    border-radius: var(--btnBorderRadius); 
  }
  form button{
    width: var(--btnWidth);
    height: var(--btnHeight);
    font-size: 18px;
    background-color: var(--backgroundColor1);
    border-radius: var(--btnBorderRadius);
    border: var(--btnBorder);
  }
  form a{
    margin-top: 16px;
  }
  .heading{
    margin-bottom: 25px;
    font-size: var(--fontSizeBG);
    text-transform: capitalize;
  }