:root{
  --backgroundColor1: #FF176B;
  --backgroundColor2: #FFF;
  --btnBgColor1: #1B1C1E;
  --btnBgColor2: #2C3C1F;
  --text1: #171B0A;
  --text2: #FFF;
  --fontSizeBG: 24px;
  --fontSizeMD: 18px;
  --fontSizeSM: 14px;
  --btnWidth: 220px;
  --btnHeight: 50px;
  --btnTxtColor1: #fff;
  --btnTxtColor2: #171B0A;
  --transition: ease-in-out;
  --btnBorderRadius: 13px;
  --btnBorder: 2px solid #fff;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--backgroundColor1);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  color: var(--text2);
}

.contact-submit{
  width: var(--btnWidth);
  height: var(--btnHeight);
  background-color: var(--btnBgColor1);
  border: var(--btnBorder);
  border-radius: var(--btnBorderRadius);
  color: var(--btnTxtColor1);
  transition: var(--transition);
  cursor: pointer;
  
}
.contact-submit:hover{
  background-color: var(--btnBgColor2);
}

